packages/*
/packages/
*.nuspec
bin/
obj/
Debug/
debug/
*.suo
*.baml
*.user
*.cache
/output.txt
*.orig
*.bak
*.exe
*.pdb
*.dll
*.FileListAbsolute.txt
*.csproj.App.config
/_UpgradeReport_Files
/UpgradeLog.htm
/UpgradeLog.XML
*.BASE.*.cs
*.BACKUP.*.cs
*.REMOTE.*.cs
*.REMOTE.*.cs
*.LOCAL.*.cs
*.g.i.cs
*.g.cs
!domain.g.cs
!report.g.cs
SQLQuery[0-9].sql
_ReSharper.commercial-space